<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mysticraccoon.travelandeat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--         The BACKGROUND_LOCATION permission is required for geofencing functionality to work on Q+ -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:name=".core.application.TravelEatApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelAndEat" >

        <activity
            android:name="com.mysticraccoon.travelandeat.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

<!--        <receiver-->
<!--            android:name="com.udacity.project4.core.geofence.GeofenceBroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->
<!--        <service-->
<!--            android:name="com.mysticraccoon.travelandeat.core.geofence.GeofenceTransitionsJobIntentService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->


    </application>

</manifest>